/* app/admin/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preflight disable karo */
@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
}