@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}

@layer utilities {
  .backdrop-blur-xl {
    z-index: 9 ;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
.poppins-font {
  font-family: var(--font-poppins), sans-serif;
}